@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --breakpoint-xs: 320px;
    --font-primary: "montserrat", sans-serif;
    --font-secondary: "roboto", sans-serif;
    --color-brand-primary: #303fa4;
    --color-brand-primary-1: #f7f8fd;
    --color-brand-primary-2: #e7e9f8;
    --color-brand-primary-3: #d8dbf3;
    --color-brand-primary-4: #d8dbf3;
    --color-brand-primary-5: #b8beea;
    --color-brand-primary-6: #a8b0e6;
    --color-brand-primary-7: #98a2e1;
    --color-brand-primary-8: #8993dc;
    --color-brand-primary-9: #7985d8;
    --color-brand-primary-10: #6977d3;
    --color-brand-primary-11: #5968ce;
    --color-brand-primary-12: #4a5aca;
    --color-brand-primary-13: #3a4cc5;
    --color-brand-primary-14: #3546b5;
    --color-brand-primary-15: #3140a6;
    --color-brand-primary-16: #2c3a96;
    --color-brand-primary-17: #273486;
    --color-brand-primary-18: #232d76;
    --color-brand-primary-19: #1e2767;
    --color-brand-primary-20: #192157;
    --color-brand-primary-21: #151b47;
    --color-brand-primary-22: #101537;
    --color-brand-primary-23: #0c0f27;
    --color-brand-primary-24: #070918;
    --color-brand-primary-25: #020308;

    --color-brand-secondary: #ffc407;
    --color-brand-secondary-1: #fffdf5;
    --color-brand-secondary-2: #fff8e0;
    --color-brand-secondary-3: #fff3cc;
    --color-brand-secondary-4: #ffeeb8;
    --color-brand-secondary-5: #ffe9a3;
    --color-brand-secondary-6: #ffe48f;
    --color-brand-secondary-7: #ffdf7a;
    --color-brand-secondary-8: #ffdb66;
    --color-brand-secondary-9: #ffd652;
    --color-brand-secondary-10: #ffd13d;
    --color-brand-secondary-11: #ffcc29;
    --color-brand-secondary-12: #ffc714;
    --color-brand-secondary-13: #ffc200;
    --color-brand-secondary-14: #ebb300;
    --color-brand-secondary-15: #d6a300;
    --color-brand-secondary-16: #c29400;
    --color-brand-secondary-17: #ad8400;
    --color-brand-secondary-18: #997500;
    --color-brand-secondary-19: #856500;
    --color-brand-secondary-20: #705600;
    --color-brand-secondary-21: #5c4600;
    --color-brand-secondary-22: #473600;
    --color-brand-secondary-23: #332700;
    --color-brand-secondary-24: #1f1700;
    --color-brand-secondary-25: #0a0800;
    
    --color-title-col: #202245;
    --color-subtitle-col: #6A7282;
    --color-heroButton-col: #4A5CD3;
    /* socials */
    --color-face-primary: #0866ff;
    --color-tube-primary: #ff0033;
    --color-linked-primary: #0a66c2;
    --color-x-primary: #010b13;
}

.section-titles {
    @apply font-primary text-title-col text-2xl md:text-4xl font-bold md:font-semibold my-6 leading-tight;
}

.micro-lines {
    @apply font-secondary font-light text-subtitle-col md:text-lg lg:text-xl;
}

/* Trust section */

.trust-glowbox {
    @apply absolute inset-0 rounded-3xl not-hover:bg-gradient-to-r from-[#5DD7ED] to-[#303FA4] group-hover:bg-[#92acff] blur-md opacity-20 transition-all duration-200 group-hover:opacity-40 group-hover:blur-sm;
}

.trust-gradient-border {
    @apply relative rounded-3xl not-hover:bg-gradient-to-r from-[#5DD7ED] to-[#303FA4] p-[2px] group-hover:pt-0 group-hover:px-0 group-hover:pb-[2px] group-hover:bg-[#92acff] transition-all duration-200;
}

.trust-content-box {
    @apply rounded-[1.4rem] bg-white p-5 not-group-hover:max-md:h-[12rem] not-group-hover:max-lg:h-[13rem] not-group-hover:max-md:flex not-group-hover:max-md:flex-col not-group-hover:max-md:justify-around transition-all duration-200 group-hover:bg-blue-50 group-hover:shadow-lg;
}

/* Our Expertise section */

.expertise-heading {
    @apply text-2xl md:text-3xl font-semibold;
}

/* How we operate section */

.hwo-data-box {
    @apply grid grid-cols-[15%_80%] sm:grid-cols-[10%_10%_75%] gap-3 md:gap-5 shadow-lg hover:shadow-xl shadow-brand-primary/30 bg-white rounded-3xl p-5 mt-6 sm:mx-10 md:mx-0 transition-all duration-200;
}

.hwo-box-content {
    @apply md:pl-2 md:mr-4 my-auto;
}

.hwo-box-content-serial {
    @apply font-primary text-3xl md:text-4xl font-semibold text-brand-primary;
}

.hwo-box-content-icon {
    @apply max-sm:hidden flex justify-end my-auto;
}

.hwo-box-content-heading {
    @apply font-primary text-xl md:text-xl font-semibold text-brand-primary;
}

.hwo-box-content-paragh {
    @apply font-secondary max-md:font-light text-subtitle-col text-sm sm:text-base mt-2;
}

/* Why choose us section */
.wcu-box {
    @apply flex flex-col justify-center border-2 rounded-3xl p-7;
}

.wcu-box-title {
    @apply text-2xl font-semibold text-slate-800 leading-tight;
}

.wcu-box-paragh {
    @apply hidden mt-4 text-sm sm:text-base text-slate-600 max-w-md;
}

/* cta section */
